body {
	background-color: white;
	margin: 0px;
	padding:0px;
	display: flex;
	justify-content:center;
	align-items:center;
	overflow:scroll;
	overflow-x:hidden;
	flex-direction:column;
	margin:0;
}

body a{
text-decoration:none;
}

/* installation des police */


@font-face{
	font-family:'cookie';
	src: url('filesPolice/Cookie-Regular.ttf') format('truetype');
}

@font-face{
	font-family:'courgette';
	src: url('filesPolice/Courgette-Regular.ttf') format('truetype');
}

@font-face{
	font-family:'pacifico';
	src: url('filesPolice/Pacifico-Regular.ttf') format('truetype');
}

@font-face{
	font-family:'OleoScript';
	src: url('filesPolice/OleoScript-Regular.ttf') format('truetype');
}





/* fin installation de police */


header{
	position:absolute;
	top:0px;
	height:12%;
	width:100%;
	background-color:#0B9D49;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-right:0px;
	margin-left:0px;
	margin-bottom:50px;
	z-index:2;
	padding:0;
}
.logo{
	width:22%;
	height:auto;
	display:flex;
}

.lienAccueil{
	display:flex;
	align-items:center;
	justify-content:center;
	width:auto;
	height:auto;
}





footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height:10%;
	background-color: #0B9D49;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	z-index: 2;
}

table{
	border-spacing: 0px 10px;
}

.menuPrix{
	text-align:right;
}

td.menuText{
	width:75%;
}

td.menuPrix{
	width:25%;
}




footer a{
	font-size:1.1em;
}

footer span{
	width:100px;
}

/* menu exemple */


.ml{
	position:fixed;
	left:30px;
	font-weight:bold;
	margin-right:10%;
}
.cn{
	position:fixed;
	right:30px;
	font-weight:bold;
	margin-left:10%;
	

}

.ml , .cn{
	color:#F1C40F;
	font-weight:bold;
}




/* menuUn css  menuTest*/

.menu, .menuDeux, .menuTrois, .menuQuatre{
	position:absolute;
	padding:2%;
	top:100px;
	width:45%;
	/*max-width:35%;*/
	height:auto;
	min-height:800px;
	margin-bottom:10%;
	margin-top:10%;
	display:flex;
	flex-direction:column;
	align-items:center;
}


.menuDeux{
	background-color:#F2F3F4;
	color:#28B463;
	font-family:'courgette', cursive;
}

.menuTrois{
	background-color: #CACFD2;
	color:blue;
	font-family:'cookie', cursive;
	font-weight:bold;

}

.menuQuatre{
	background-color: #FADBD8;
	font-family:'oleoScript', cursive;
	color:#7D3C98;
	
}

.menu{
	background-color: pink;
	color:#7B241C;
	font-family:'pacifico', cursive;
}

.menuExemple{
	margin-top:15%;
}

.menu h3, .menuDeux h3, .menuTrois h3, .menuQuatre h3{
	font-size:2rem;
}



#sectionUn , #sectionUn a{
	
	background-color:#F1948A;
	font-family:'pacifico', cursive;
	color:#7B241C;
	
}

#sectionDeux , #sectionDeux a{
	background-color:#FADBD8;
	font-family:'oleoScript', cursive;
	color:#7D3C98;
}

#sectionTrois , #sectionTrois a{
	background-color:#D5D8DC;
	font-family:'cookie', cursive;
	color:blue;
	
}
#sectionQuatre , #sectionQuatre a{
	background-color:#F4F6F6;
	font-family:'courgette', cursive;
	color:#28B463;
	
}

.menu img{
	margin-top:5%;
}

.menu #blocT{
	width:80%;
}

#ligneTitre{
	display:flex;
	justify-content:center;
	align-items:center;

}




#ligneTitre p{
	display:flex;
	flex-wrap:nowrap;
}
#blocT{
	display:flex;
	flex-direction:column;
	width:80%;
}

#blocT span{
	padding-left:15%;
}

#blocT p{
	margin:7px;
}

hr{
	width:30%;
	height:4px;
	background: linear-gradient(to bottom right, pink, #7D3C98);
	border:0;
	margin-left:5px;
	margin-right:5px;
}

#hrMenuTrois, #hrMenuDeux, #hrMenuQuatre{
	border-radius:50%;
	
}

#tabMenuTrois, #tabMenuDeux, #tabMenuQuatre{
	border-spacing: 0px 18px;	
}

#dernierBloc{
	margin-top:8%;
	display:flex;
	justify-content:center;
}

#dernierBloc img{
	margin-right:10px;
	height:52px;
	width:52px;
	
}
/* fin menuTest css */

/*  index css styles*/

.flex{
	margin-top:10%;
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	width:70%;
	margin-bottom:29%;
}

#sectionUn, #sectionDeux, #sectionTrois, #sectionQuatre{
	width:45%;
	height:75%;
	margin:10px;
	display:flex;
	align-items:center;
	justify-content:center;
}



#sectionUn a, #sectionDeux a, #sectionTrois a, #sectionQuatre a{
	text-align:center;

}

.mainPro{
	margin-top:5%;
	width:100%;
	display:flex;
	justify-content:center;
}



.pro{
	width:170px;
	height:auto;
	border-radius:14px;
	background-color:green;
	box-shadow:none;
	border:0;
	color:yellow;
	font-weight:bold;
	text-align:center;
	padding:10px;
}






/*  */











.precision{
	margin-top:10px;
	display:flex;
	flex-direction:row;
	align-items:center;
	max-height:52px;
	height:52px;
}

.precision img{
	margin-right:15px;
}

/*                                          */

/* décoration mise en page des menus de l'accueil */



#sectionUn , #sectionDeux , #sectionTrois , #sectionQuatre{
	height:700px;
	width:40%;
	box-shadow:2px 2px 4px #AAB7B8;
}









/* effet animation css */
.grow{
	display:flex;
	flex-direction:column;
	align-items:center;
}

.grow { 
	transition: all .2s ease-in-out; 
}

.grow:hover { 
	transform: scale(1.05);
	opacity:0.6;

}

.souligneMoi{
	background-image: linear-gradient(180deg, transparent 65%, yellow 0);
  	background-repeat: no-repeat;
  	background-size: 0 100%;
  	transition: background-size .4s ease;
  	font-size:1.09rem;
	  display:inline-block;
	  flex-wrap:nowrap;
}

.souligneMoi:hover {
  background-size: 100% 100%;
}


/* wiggle */


.cn:hover , .ml:hover{
	-webkit-animation-name: wiggle;
	-ms-animation-name: wiggle;
	-ms-animation-duration: 1000ms;
	-webkit-animation-duration: 1000ms;
	-webkit-animation-iteration-count: 1;
	-ms-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
	-ms-animation-timing-function: ease-in-out;	
}



@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}


/* effet ellipsis */

.loading {
	margin-top:25%;
  font-size: 5em;
  width:80px;
  display:flex;
  align-items:center;
  color:green;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(5,end) 1000ms infinite;      
  animation: ellipsis steps(5,end) 1000ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 100px;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 100px;    
  }
}




/* responsive */

@media (orientation: portrait) {

	.menu, .menuDeux, .menuTrois, .menuQuatre{
		width:100%;
		min-width:100%;
		margin-left:0;
		margin-right:0;
		margin-bottom:30%;
		height:auto;
	}



	footer{
		margin-top:9%;
	}

	#sectionUn , #sectionDeux , #sectionTrois , #sectionQuatre{
		margin-top:25%;
		width:100%;
		margin-left:0;
		margin-right:0;
	}


}

@media(orientation:landscape){
	@media all and (max-height:480px){
		.menu, .menuDeux, .menuTrois, .menuQuatre{
			width:100%;
			min-width:100%;
			margin-left:0;
			margin-right:0;
			margin-bottom:30%;
			height:auto;
		}
	
	
	
		footer{
			margin-top:9%;
		}
	
		#sectionUn , #sectionDeux , #sectionTrois , #sectionQuatre{
			margin-top:25%;
			width:100%;
			margin-left:0;
			margin-right:0;
		}


	}
}
